*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    place-content: center;
}
.container{
    border-style:groove;
    padding: 10px;
    border-radius: 3px;
}
.inputBox { 
    position: relative; 
    margin-bottom: 20px;
}
.inputBox input {
   display:block; 
}

.inputBox .grossExclam_mark {
    position: absolute;
    top: 30px;
    right: 25px;
    cursor: pointer;
    visibility:hidden;
}

.inputBox .extraExclam_mark {
    position: absolute;
    top: 30px;
    right: 25px;
    cursor: pointer;
    visibility:hidden;
}
.inputBox .deductExclam_mark {
    position: absolute;
    top: 30px;
    right: 25px;
    cursor: pointer;
    visibility:hidden;
}
.ageEntered { 
    position: relative; 
    margin-bottom: 20px;
}
.ageEntered select {
   display:block; 
}
.ageEntered .ageExclam_mark{
    position: absolute;
    top: 28px;
    right: 240px;
    cursor: pointer;
    visibility : hidden;
}

button:hover {
    background-color: blue;
}

.buttons .calculate{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color:#007FFF ;
    border-style: none;
    color: white;
    display: grid;
    width: 350px;
}
.buttons .reset{
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 3px;
    background-color:#007FFF ;
    border-style: none;
    color: white;
    display: grid;
    width: 350px;
}
/* Tool tip Css */
.Question_mark_circle{
    cursor: pointer;
}
.tooltiptext {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.inputBox img:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.exclamToolTip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 60%;
    left: 90%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.inputBox img:hover + .exclamToolTip{
    visibility: visible;
    opacity: 1;
}
.ageTootltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.ageEntered img:hover + .ageTootltip {
    visibility: visible;
    opacity: 1;
}

.popup_tab{
    height: 280px;
    width: 458px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 32%;
    padding-top: 30px;
    text-align: center;
    background-color: white;
    border-style: double;
}
.showPopup{
    visibility: visible;
}
.buttons .close{
    margin: 10px 10px 10px 43%;
    padding: 3px;
    border-radius: 3px;
    background-color:#007FFF ;
    border-style: none;
    color: white;
    display: grid;
    width: 50px;
}